* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

header {
    margin: 44px 0 144PX 76px;

}
.link-header {
    font-weight: 600;
    font-size: 24px;
    color: #989D9C;
    line-height: 29px;
    cursor: pointer;
    margin-right: 23px;
}

.button-header {
    border-radius: 21px;
    width: 130px;
    height: 41px;
    background: #665AE1;
    color: #ffffff;
    border: none;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    cursor: pointer;
}
.button-header:active {
    opacity: 0.8;
}


.logo-img {
    width: 568px; 
    height: 500px;
    margin-left: 125px;
    display: inline-block
      
}

.div-wecare {
    display: inline-block;
    margin-left: 86px;

}

h1 {
    font-weight: 900;
    font-size: 100px;
    line-height: 122px;
    color: #515151;
}

h2 {
    font-weight: 500;
    font-size: 58px;
    line-height: 71px;
    color: #515151;
}

p {
   font-weight: 400;
   font-size: 24px;
   line-height: 100%; 
   color: #848484;
   width: 515px;
   margin-top: 32px;
}

button {
    font-weight: 700;
    border-radius: 30px;
    width: 239px;
    height: 64px;
    font-size: 28px;
    border: none;
    background: #ADFF00;
    color: #000000;
    margin-top: 65px;
    cursor: pointer;
    box-shadow: 0px 4px 4px 0px #00000040;
}


@media (max-width: 600px) {

    body{
        
      margin-top: 06%;
      margin-right: 40%;  
    }

    header {
        display: none;
    }

    .logo-img {
        margin-top: 149px;
        width: 354px;
        height: 317px;
        margin-left: 10%;
    }
    

    h1 {
       width: 263px;
       height: 52px;
       font-size: 50px;
       line-height: 50px;
       margin-left: 10%; 
       align-items: center;
       

    }

    h2 {
       font-size: 30px;
       width: 232px;
       height: 37px;
       align-items: center;
       margin-left: 10%;
       
       
    }

    p {
        display: none;
    }

    button {
        margin-top: 25px;
        font-size: 28px;
        width: 239px;
        height: 64px;
        
    }
}