* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

header{
    cursor: pointer;
    margin: 47px 42px 178px;
}

.link-header {
    margin-right: 32px;
    color: #17233D;
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.875px;
}

.link-header:hover{
    opacity: 0.5;
}

button {
    font-weight: 500;
    font-size: 22px;
    color: #ffffff;
    border: 1px solid #4CB538;
    background: #4CB538;
    width: 124px;
    height: 51px;
    cursor: pointer;
    border-radius: 6px;
}

button:hover{
    opacity: 0.8;
}

img{
    display: inline-block;
    margin-left: 121px;
    width: 534px;
    height: 467px;

}

.div-1 {
    display: inline-block;
    margin-left: 80px;

}

h1 {
    font-weight: 700;
    font-size: 62px;
    color: #161A49;
    margin-bottom: 25px;
    line-height: 33px;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    height: 99px;
    width: 493px;
    color: #4B505A;
    margin-bottom: 55px;
}

.learn {
    margin-top: 55px;
    color: #6FBF44;
    font-family: 500;
    font-size: 18px;
    cursor: pointer;
}

.learn:hover{
    opacity: 0.5;
}

@media (max-width: 750px) {
    main {
        flex-direction: column;
        text-align: center;
        padding: 20px;

    }

    .div-1 h1 {
        font-size: 32px;
    }
    .div-1 p {
        font-size: 15px;
    }

}

@media (max-width: 480px) {
    header button {
        padding: 8px 16px;
        font-size: 14px;
    }
    .div-1 h1 {
        font-size: 28px;

    }

    main img {
     
    }
}
 